.advantages {
  margin: 0 0 80px;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 80px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 0 80px;
    border-bottom: 1px solid $color-iron;
  }

  &__inner {
    max-width: 500px;
    flex-shrink: 0;
  }

  &__title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.02em;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    margin: 40px 0 0 0;
  }

  &__sublist {
    max-width: 600px;
    margin: 0;
    list-style: none;
    padding: 0;
    counter-reset: subitem;
  }

  &__subitem {
    counter-increment: subitem;
    position: relative;
    padding: 0 0 0 27px;
    font-size: 18px;
    line-height: 26px;

    &::before {
      content: counter(subitem)".";
      position: absolute;
      left: 6px;
    }

    &:not(:last-child) {
      margin: 0 0 15px;
    }
  }
}
