.hero {
  padding: 80px 0 0;
  margin: 0 0 80px;

  &__heading {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 80px;
  }

  &__title {
    font-size: 86px;
    line-height: 90px;
    letter-spacing: 0.02em;
    font-weight: 200;
    margin: 0 0 30px;
    text-transform: uppercase;
    
    @include vp-1023 {
      font-size: 44px;
      line-height: 50px;
      margin: 0 0 15px;
    }
  }

  &__description {
    max-width: 600px;
    font-size: 18px;
    line-height: 26px;
    margin: 0;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 27px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    padding: 13px 0;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;
    }

    .hero__button-icon {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: black;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        left: -10px;
        z-index: -10;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: scale(0);
        opacity: 0;
      }
    }
  
    .hero__button-arrow {
      transition: left 0.3s ease, filter 0.3s ease;
    }
  
    .hero__button-subtrack {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  
    &:hover {
      .hero__button-icon {
        &::after {
          transform: scale(1); 
          opacity: 1;
        }
      }
  
      .hero__button-arrow {
        left: 10px;
        filter: invert(1);
        z-index: 2;
      }
  
      .hero__button-subtrack {
        opacity: 0;
      }
    }

    &:focus {
      .hero__button-icon {
        &::after {
          transform: scale(1); 
          opacity: 1;
        }
      }
  
      .hero__button-arrow {
        left: 10px;
        filter: invert(1);
        z-index: 2;
      }
  
      .hero__button-subtrack {
        opacity: 0;
      }
    }

    &:focus {
      outline: none;

      .hero__button-icon {
        &::after {
          content: "";
          position: absolute;
          background-color: black;
          border-radius: 50%;
          width: 64px;
          height: 64px;
          top: 0;
          left: -10px;
          z-index: -10;
        }
      }

      .hero__button-arrow {
        left: 7px;
        filter: invert(1);
        z-index: 2;
      }
      
      .hero__button-subtrack {
        opacity: 0;
      }
    }
  }

  &__button-icon {
    display: flex;
    align-items: center;
    position: relative;
    transition: .2s ease-out;
    opacity: 1;
  }

  &__button-subtrack {
    position: relative;
    height: 64px;
    width: 53px;

    @include vp-1023 {
      width: 40px;
      height: 40px;
    }
  }

  &__button-text {
    @include vp-1023 {
      min-width: 180px;
    }
  }

  &__button-arrow {
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    transition: .2s ease-out;
   
  }

  &__link-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;

    @include vp-1023 {
      gap: 20px;
    }
  }

  &__link {
    display: flex;
    font-size: 18px;
    line-height: 26px;
    padding: 0 10px 20px;
    border-bottom: 2px solid $color-black;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      padding: 0 10px 10px;
    }

    &:hover {
      color: $color-mischka;
    }

    &:focus {
      color: $color-mischka;
      outline: none;
    }
  }
}
