.outro {
  background: url("../images/vacancy-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 108px 0;
  position: relative;

  @media (min-resolution: 2dppx) {
    background: url("../images/vacancy-bg@2x.jpg") no-repeat center;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color-blue-charcoa, 0.5);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__note {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 30px 0;
    color: $color-white;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.02em;
    margin: 0 0 30px 0;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 200;
    max-width: 400px;
    text-align: center;
  }

  &__link-icon {
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    background-color: $color-white;
    border-radius: 50%;
  }
}
